.embla {
  overflow: hidden;
  border: 5px;
  border-color: aliceblue;
}
.embla__container {
  display: flex;
}
.embla__slide {
  height: 220px;
  width: 100px;
  flex: 0 0 100%;
  object-fit: cover;
  /* min-width: 0;  */
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min(50ch, 500px, 56vw);
  max-width: fit-content;
  /* height: 400px; */
  max-width: 400px;
  background: var(--secondary);
  margin: 1rem;
  position: relative;
  /* padding: 0.5rem 0.7rem; */
  z-index: -2;
}

.project-tech-stack {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  word-break: no-break;
}

.project-tech-stack::before {
  /* content: '|'; */
}
.project-tech-stack::before {
  /* content: '|'; */
}

.detail-container {
  padding: 0.5rem 0.7rem;
  flex-direction: column;
  display: flex;
  row-gap: 0.5rem;
  justify-content: space-between;
  flex-grow: 1;
  /* border: 1px solid red; */
}

@media (width<=450px) {
  .project-card {
    width: 100%;
  }
}
