*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
  /* border: 1px solid red; */
}

:root
{
  --text: #fdfcfc;
  --background: #151415;
  --primary: #45c13e;
  --secondary: #202221;
  --accent: #3e45c1;
}

html
{
  color-scheme: light dark;
}

body
{
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--text);
}

img,
svg,
video
{
  max-width: 100%;
  display: block;
}

h1
{
  font-size: clamp();
  text-wrap: balance;
}

a,
a:active,
a:visited
{
  all: unset;
}

a:hover
{
  /* --elem-shadow-color: #ffffff6c; */
  filter: drop-shadow(0 0 10px var(--elem-shadow-color));
  color: var(--elem-bg-color);
  transition: all .3s ease;
}

a:nth-child(1):hover
{
  --elem-bg-color: #df5f14;
  --elem-shadow-color: #e07e22;
}

a:nth-child(2):hover
{
  --elem-bg-color: #0051ff;
  --elem-shadow-color: #061db3;
}

.container
{
  width: 100vw;
  height: 100vh;
}

aside
{
  width: 70px;
  height: 100%;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

aside>*
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: auto;
  font-size: 1.5rem;
}

main
{
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.hero
{
  margin: auto;
  min-height: 100%;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns
{
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

/* button styles */
button
{
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid var(--text);
  background: var(--background);
  user-select: none;
  white-space: nowrap;
  transition: all .05s linear;
  font-family: inherit;
}

button:before,
button:after
{
  content: "";
  position: absolute;
  background: var(--background);
  transition: all .2s linear;
}

button:before
{
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

button:after
{
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}


button:active
{
  transform: scale(0.95);
}

button:hover:before
{
  height: calc(100% - 32px);
  top: 16px;
}

button:hover:after
{
  width: calc(100% - 32px);
  left: 16px;
}

button span
{
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}

@media(prefers-color-scheme:light)
{
  :root
  {
    --text: #151415;
    --background: #fdfcfc;
    --primary: #45c13e;
    --secondary: #e2e4e3;
    --accent: #3e45c1;
  }
}

@media(prefers-reduced-motion:no-preference)
{
  /* all your animations goes here */
}

@media(prefers-reduced-motion:reduced)
{

  *,
  *::after,
  *::before
  {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}


@media (width<640px)
{
  aside
  {
    width: 100%;
    height: 70px;
    padding: 20px;
    position: fixed;
    flex-direction: row;
  }

  .social-links
  {
    flex-direction: row;
  }
}