*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
  /* border: 1px solid red; */
}

:root
{
  --text: #fdfcfc;
  --background: #151415;
  --primary: #45c13e;
  --secondary: #202221;
  --accent: #3e45c1;
}

@media(prefers-color-scheme:light)
{
  :root
  {
    --text: #151415;
    --background: #fdfcfc;
    --primary: #45c13e;
    --secondary: #e2e4e3;
    --accent: #3e45c1;
  }
}

html
{
  color-scheme: light dark;
}

body
{
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--text);

}

img,
svg,
video
{
  max-width: 100%;
  display: block;
}

h1
{
  font-size: clamp(2rem, 3rem, 4rem);
  text-wrap: balance;
}

h2
{
  font-size: clamp(2rem, 2.2rem, 3rem);
}

a,
a:active,
a:visited
{
  all: unset;
  scale: 1;
}

.social-links a:hover
{
  /* --elem-shadow-color: #ffffff6c; */
  filter: drop-shadow(0 0 10px var(--elem-shadow-color));
  color: var(--elem-bg-color);
  transition: all .3s ease;
}

.social-links a:nth-child(1):hover
{
  --elem-bg-color: #13ca25fe;
  --elem-shadow-color: #3af38abf;
}

.social-links a:nth-child(2):hover
{
  --elem-bg-color: #df5f14fe;
  --elem-shadow-color: #e07e22bf;
}

.social-links a:nth-child(3):hover
{
  --elem-bg-color: #0051fffe;
  --elem-shadow-color: #547bf9bf;
}

.container
{
  display: grid;
  grid-template-columns: 70px 1fr;
  width: 100%;
}

aside
{
  width: 70px;
  height: 100%;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  -webkit-box-pack: justify;
  background-color: var(--background);
  justify-content: space-between;
}

aside>*
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px;
  font-size: 1.5rem;
}


section
{
  min-height: 100vh;
  width: 100%;
  margin-inline: auto;
  /* background-color: rebeccapurple; */
  padding: 1rem 2rem;
}

.hero
{
  width: fit-content;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
}

.btns
{
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

/* button styles */
button
{
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid var(--text);
  background: var(--background);
  user-select: none;
  color: var(--text);
  white-space: nowrap;
  transition: all .05s linear;
  font-family: inherit;
}

button:before,
button:after
{
  content: "";
  position: absolute;
  background: var(--background);
  transition: all .2s linear;
}

button:before
{
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

button:after
{
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}


button:active
{
  transform: scale(0.95);
}

button:hover:before
{
  height: calc(100% - 32px);
  top: 16px;
}

button:hover:after
{
  width: calc(100% - 32px);
  left: 16px;
}

button span
{
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}

.card-wrapper
{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
}

.work-card
{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: min(50ch, 500px, 56vw);
  background: var(--secondary);
  margin: 1rem;
  padding: 1rem;
  z-index: -2;
}

.work-card:nth-child(1)
{
  scale: 1.010;
  border-bottom: 5px solid limegreen;
}

.tech-stack
{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  word-break: no-break;
}

@media(prefers-reduced-motion:no-preference)
{
  /* all your animations goes here */
}

@media(prefers-reduced-motion:reduced)
{

  *,
  *::after,
  *::before
  {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}


@media (width<=426px)
{
  .container
  {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
  }

  .container>div:nth-child(1)
  {
    order: 2;
  }

  .container>div:nth-child(2)
  {
    order: 1;
  }

  section
  {
    padding: 1rem;
  }

  aside
  {
    height: 60px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    padding: 0.5rem 0.7rem;
  }


  aside>*
  {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 5px;
    font-size: 1.5rem;
  }

  .work-card
  {
    width: 100%;
  }
}

::-webkit-scrollbar
{
  display: none;
}