.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-inline: auto;
  width: 60dvw;
}

form {
  display: grid;
  place-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

form > * {
  transition: all 0.3s ease;
}

input[type='text'] {
  padding: 1rem 0.5rem;
  border: 0;
  outline: 0;
  border-bottom: 3px solid transparent;
  width: 100%;
  background-color: var(--secondary);
}

input[type='text']:focus,
textarea:focus {
  background: transparent;
  border-bottom: 3px solid var(--primary);
}

form textarea {
  font-style: inherit;
  background-color: var(--secondary);
  resize: none;
  height: 100px;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 0.5rem;
}

input[type='submit'] {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  outline: 0;
  border: 0;
  max-width: 100px;
}

input[type='submit']:disabled {
  filter: grayscale();
}
